@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded");
@import "tailwindcss";
@import "@savaryna/tailwindcss-material-symbols";

@theme {
    --color-page-light: var(--color-neutral-50);
    --color-page-dark: var(--color-zinc-950);
    --color-text-light: var(--color-zinc-900);
    --color-text-dark: var(--color-slate-200);
    --color-text-secondary: var(--color-neutral-500);
    --color-on-bg-light: var(--color-slate-200);
    --color-on-bg-dark: var(--color-zinc-900);
    --color-on-bg-secondary-light: var(--color-slate-300);
    --color-on-bg-secondary-dark: var(--color-zinc-950);
    --color-primary: color-mix(var(--color-blue-500) 20%, transparent);
}